.wrapper {
    margin: auto;
    width: 50%;
}

.container {
    margin: auto;
    width: 650px;
}

.chessContainer {
    width: 450px;
    text-align: center;
    float: left;
}

.hud {
    width: 200px;
    text-align: left;
    float: left;
}

.history {
    overflow-x: no-display;
    overflow-y: scroll;
    height: 500px;
    background-color: #80808066;
    padding: 0 10px;
}

.chessBoard {
    margin: auto;
    width: 400px;
}

.fen {
    margin: auto;
    width: 400px;
    display: block;
}

.spacer20 {
    height: 20px
}

button {
    width: 80px;
    margin: 0 20px;
    float: left;
}

.attacking {
    background-color: red !important;
}

.protecting {
    background-color: green !important;
}
