.wrapper {
    margin: auto;
    width: 50%;
}

.container {
    margin: auto;
    width: 450px;
}

.chessContainer {
    width: 450px;
    text-align: center;
}

.chessBoard {
    margin: auto;
    width: 400px;
}

.fen {
    margin: auto;
    width: 400px;
    display: block;
}

.spacer20 {
    height: 20px
}

button {
    width: 80px;
    margin: 0 20px;
    float: left;
}

.attacking {
    background-color: red !important;
}

.protecting {
    background-color: green !important;
}
